{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "cypress"],
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
